################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SPCAPP.TicketWeb/SPCAPP.TicketWeb/obj/Debug/net5.0
