@model SPCAPP.TicketWeb.Models.TicketSpc
@{
    TempData["idTk"] = (int)Model.Id;
}
<div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--Titulo-->
            <div class="modal-header modalColor">
                <div class="col-7">
                    <h5 id="staticBackdropLabel" class="modal-title titulo float-lg-right">TICKET SPCAA</h5>
                </div>
                <div class="col-5">
                    <button type="button" onclick="closeModal('#modelMike')" class="btn-close cerrar" data-mdb-dismiss="modal"
                            aria-label="Close"></button>
                </div>
            </div>

            <div class="modal-body">
                <!--TABS-->
                <div class="tab">
                    <button id="defaultOpen" class="tablinks" onclick="openTabs(event, 'editVist')">EDITAR</button>
                    <button class="tablinks" onclick="openTabs(event, 'avancesVist')">AVANCES</button>
                    <button class="tablinks" onclick="openTabs(event, 'passVist')">PASSWORD</button>
                    <button class="tablinks" onclick="openTabs(event, 'trbReaVist')">TRABAJO REALIZADO</button>
                </div>
                <form method="post" asp-action="EditTicket" asp-route-idTick=@TempData["idTk"]>
                    <input type="text" style="display:none" id="ide" asp-for="Id" />
                    <div id="editVist" class="tabcontent">
                        <!--Fecha y hora-->
                        <div class="row date">
                            <div class="col-3">
                                <div class="form-outline">
                                    <input class="form-control" id="cod" asp-for="CodAux" type="number" readonly />
                                    <label class="form-label" asp-for="CodAux">CÓDIGO</label>
                                </div>
                            </div>
                            <!--Fecha y hora-->
                            <div class="col-9">
                                <!--Fecha-->
                                <div class="col-5 hr2">
                                    <div class="md-form hrIn">
                                        <input type="time" class="form-control clickable input-md" asp-for="Fecha" placeholder="HORA   &#xf107;">
                                    </div>
                                </div>
                                <!--Hora-->
                                <div class="col-7">
                                    <div class="form-group fecha">
                                        <input type="date" class="form-control clickable input-md" asp-for="Fecha" placeholder="FECHA  &#xf133;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Form part1-->
                        <div class="row m-3 form1">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-outline">
                                        <input class="form-control" id="folio" readonly />
                                        <label class="form-label" for="folio">FOLIO</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <select class="form-select" asp-for="Estado" aria-label="Default select example">
                                        <option value="PENDIENTE">PENDIENTE</option>
                                        <option value="TERMINADO">TERMINADO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <div class="form-outline folio">
                                        <input type="text" id="clt" asp-for="Empresa" class="form-control" />
                                        <label class="form-label" asp-for="Empresa">CLIENTE</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-outline">
                                        <input type="text" id="aliEdit" class="form-control" readonly />
                                        <label class="form-label" id="aliLabel">ALIAS</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <div class="form-outline">
                                        <input type="email" id="emailEm" class="form-control" readonly />
                                        <label class="form-label">EMAIL EMPRESA</label>
                                    </div>
                                </div>
                                <div class="col-6">

                                    <select id="contEdit" class="form-select" asp-for="Contacto" aria-label="Default select example">
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-4 form-outline" style="margin-left: 3%; margin-right: 3%;">
                                    <input type="tel" asp-for="Fono_contacto" id="telefono1" class="form-control" readonly />
                                    <label class="form-label" asp-for="Fono_contacto">TELÉFONO 1</label>
                                </div>
                                <div class="col-3 form-outline" style="margin-right: 3%;">
                                    <input type="tel" id="telefono2" class="form-control" readonly />
                                    <label class="form-label">TELÉFONO 2</label>
                                </div>
                                <div class="col-3 form-outline">
                                    <input type="tel" id="telefono3" class="form-control" readonly />
                                    <label class="form-label">TELÉFONO 3</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-5">
                                    <div class="form-outline">
                                        <input type="email" asp-for="Email" id="email" class="form-control" readonly />
                                        <label class="form-label" asp-for="Email">EMAIL</label>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <select class="form-select" asp-for="Modo" id="mediooEdit" aria-label="Default select example">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Form part2-->
                        <div class="row m-3 form1">
                            <div class="row mt-2">
                                <div class="col-6">
                                    <select class="form-select" asp-for="Grupo" id="atrabj" aria-label="Default select example">
                                        <option value="SOLUTIONS">SOLUTIONS</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <select class="form-select" asp-for="Tipo" id="supp" aria-label="Default select example">
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <select class="form-select" id="asignadoo" asp-for="Tecnico" aria-label="Default select example">
                                        ASIGNADO
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="md-form">
                                    <textarea asp-for="Requerimiento" class="md-textarea form-control textareaStyle" rows="3"></textarea>
                                    <label asp-for="Requerimiento">Resumen del ticket</label>
                                </div>
                            </div>
                        </div>

                        <!--Form parte 3-->
                    </div>
                    <div id="avancesVist" class="tabcontent"></div>
                    <div id="passVist" class="tabcontent"></div>
                    <div id="trbReaVist" class="tabcontent"></div>
                    <div class="row w-100">
                        <div class="col text-center">
                            <input type="submit" class="btn btn-lg buttCreate" value="Editar Ticket" style="background: white;" />
                        </div>
                    </div>
                </form>


            </div>

            <div class="modal-footer modalColor">
                
            </div>
        </div>
    </div>

</div>
