@{
  //  Layout = "";
 }

<div class="container ">
    <!--CABECERA-->
    <div class="row w-100">
        <div class="col-6">
            <img src="~/img/SolutionsPC.png" class="logoImpresion"/>
        </div>
        <div class="col-6">
            <h6><b>SOCIEDAD COMERCIAL SOLUTIONS PC LMTDA.</b></h6>
            <h7><b>Dirección: Las Heras #320</b></h7>
            <h7><b>Sector Av. España. Curicó; Chile.</b></h7>
            <h7><b>Tel: (56-75) 223246 Cel: (56-09) 93429404</b></h7>
        </div>
    </div>
    <!--IDENTIFICAR CLIENTE-->
    <div class="row mt-3">
        <div class="row w-100">
            <h6><b>ORDEN DE TRABAJO N° </b></h6>
        </div>
        <div class="row mt-2 w-100">
            <h6><b>IDENTIFICACIÓN DEL CLIENTE</b></h6>
        </div>
        <div class="row mt-2 w-100">
            <table class="table table-bordered table-hover w-100">
                <tbody>
                    <tr>
                        <td><b>EMPRESA:</b></td>
                        <td><b></b></td>
                        <td><b>RUT:</b></td>
                        <td><b></b></td>
                    </tr>
                    <tr>
                        <td><b>DIRECCION:</b></td>
                        <td><b></b></td>
                        <td><b>TELEFONO:</b></td>
                        <td><b></b></td>
                    </tr>
                    <tr>
                        <td><b>CONTACTO:</b></td>
                        <td><b></b></td>
                        <td><b>FECHA:</b></td>
                        <td><b></b></td>
                    </tr>
                    <tr>
                        <td><b>HORA INICIO:</b></td>
                        <td><b></b></td>
                        <td><b>HORA TERMINO:</b></td>
                        <td><b></b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--DESCRIPCION TRABAJO-->
    <div class="row mt-3">
        <div class="row">
            <h6><b>DESCRIPCIÓN DEL TRABAJO</b></h6>
        </div>
        <div class="row">
            <table class="table table-bordered table-hover w-100">
                <thead>
                    <tr>
                        <td><b>CONTRATO</b></td>
                        <td><b>TIPO DE TRABAJO</b></td>
                        <td><b>TECNICO</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <table class="table table-bordered table-hover w-100">
                <thead>
                    <tr>
                        <td><b>SOLICITUD</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <table class="table table-bordered table-hover w-100">
                <thead>
                    <tr>
                        <td><b>TRABAJO REALIZADO</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <table class="table table-bordered table-hover w-100">
                <thead>
                    <tr>
                        <td><b>DETALLE DE GASTOS</b></td>
                        <td><b>MONTO/CANTIDAD</b></td>
                        <td><b>EQUIVALENCIA</b></td>
                        <td><b>TOTAL</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--FIRMA-->
    <div class="row mt-5">

          
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    
                </div>
                <div class="row mt-1">
                    <hr style="width:35%;margin-left:30%">
                    <h6 style="text-align:center;"><b>FIRMA DEL CLIENTE</b></h6>
                    <h7 style="text-align:center;"><b>EL CLIENTE AL FIRMAR ESTA ORDEN DE TRABAJO ACEPTA CONFORME EL TRABAJO REALIZADO</b></h7>
                </div>
        </div>
   
</div> 