
@model SPCAPP.TicketWeb.Models.Ticket
@{
    ViewData["Title"] = "Crear ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container centerContainer">

    <div class="row">
        <div class="col-6">
            <div class="codigoStyle form-outline">
                <input class="form-control" id="codigo1" type="text"  />
                <label class="form-label" for="codigo1">CÓDIGO</label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <input type="date" class="form-control clickable input-md datee" id="DtChkIn"
                       placeholder="FECHA  &#xf133;">
            </div>
        </div>
        <div class="col-3">
            <div class="md-form">
                <input type="time" id="inputMDEx1" class="form-control hour">
            </div>
        </div>
    </div>

    <div class="w-100"></div>
    <div class="row section2Style">

        <div class="row mt-5">
            <div class="col form-outline folio" style="margin-left: 13%;">
                <input type="text" id="folio1" class="form-control" />
                <label class="form-label" for="folio1">FOLIO</label>
            </div>
            <div class="col" style="margin-right: 10%;">
                <select class="form-select" aria-label="Default select example">
                    <option selected>ESTADO</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>

        <div class="w-100"></div>
        <div class="row">
            <div class="col-3 form-outline folio" style="margin-top: 3%;margin-left: 13%;">
                <input type="text" id="cliente1" class="form-control" />
                <label class="form-label" for="cliente1">CLIENTE</label>
            </div>
            <div class="col form-outline" style="margin-top: 3%;margin-left: 1%; margin-right: 11%;">
                <input type="text" id="alias1" class="form-control" />
                <label class="form-label" for="alias1">ALIAS</label>
            </div>
        </div>

        <div class="w-100"></div>
        <div class="row">
            <div class="col form-outline folio" style="margin-top: 3%;margin-left: 13%;">
                <input type="email" id="emailEmpresa" class="form-control" />
                <label class="form-label" for="emailEmpresa">EMAIL EMPRESA</label>
            </div>
            <div class="col" style="margin-top: 3%;margin-right: 10%;">
                <select class="form-select" aria-label="Default select example">
                    <option selected>CONTACTO</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>

        <div class="w-100"></div>
        <div class="row">
            <div class="col form-outline folio" style="margin-top: 3%;margin-left: 13%;margin-right: 3%;">
                <input type="email" id="telefono1" class="form-control"  />
                <label class="form-label" for="telefono1">TELÉFONO 1</label>
            </div>
            <div class="col form-outline folio" style="margin-top: 3%;;margin-right: 3%;">
                <input type="email" id="telefono2" class="form-control" />
                <label class="form-label" for="telefono2">TELÉFONO 2</label>
            </div>
            <div class="col form-outline folio" style="margin-top: 3%;margin-right: 11%;">
                <input type="email" id="telefono3" class="form-control" />
                <label class="form-label" for="telefono3">TELÉFONO 3</label>
            </div>
        </div>

        <div class="w-100"></div>
        <div class="row mb-5">
            <div class="col form-outline folio" style="margin-top: 3%;margin-left: 13%;">
                <input type="email" id="email1" class="form-control" />
                <label class="form-label" for="email1">EMAIL</label>
            </div>
            <div class="col" style="margin-top: 3%;margin-right: 10%;">
                <select class="form-select" aria-label="Default select example">
                    <option selected>MODO CONTACTO</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <h4 class="h3Ticket">SOLICITUD DE REQUERIMIENTOS</h4>
    </div>

    <div class="row section2Style mt-1 mb-5">

        <div class="row mt-5">
            <div class="col form-outline folio" style="margin-left: 13%;">
                <select class="form-select" aria-label="Default select example">
                    <option selected>ÁREA DE TRABAJO</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col" style="margin-right: 10%;">
                <select class="form-select" aria-label="Default select example">
                    <option selected>TIPO DE SOPORTE</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>

        <div class="w-100"></div>
        <div class="row">
            <div class="col form-outline folio" style="margin-top: 3%;margin-left: 13%;">
                <select class="form-select" aria-label="Default select example">
                    <option selected>ASIGNADO</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col" style="margin-top: 3%;margin-right: 10%;">
                <select class="form-select" aria-label="Default select example" style="visibility:hidden;">
                    <option selected>PROYECTO</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>

        <div class="w-100"></div>
        <div class="row">
            <div class="col md-form" style="margin-top: 3%;margin-left: 13%;margin-right: 10%;">
                <textarea id="form7" class="md-textarea form-control textareaStyle" rows="3"></textarea>
                <label for="form7">Resumen del ticket</label>
            </div>
        </div>

        <div class="w-100"></div>
        <div class="row">
            <div class="col" style="margin-top: 3%;margin-left: 43%;">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" />
                        <span>AGREGAR A CALENDARIO</span>
                    </label>
                </p>
            </div>
        </div>

        <div w-100></div>
        <div class="row mt-1 mb-5">
            <div class="col" style="margin-left: 46%;">
                <button type="button" class="btn btn-primary btn-lg">ADJUNTOS</button>
            </div>
        </div>
    </div>
</div>

<!--Incoorporar validacion del lado del cliente-->
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}