@model SPCAPP.TicketWeb.Models.TicketSpc

<!--Titulo-->
<div class="row">
    <div class="col-8 mr-3">
        <h5 class="text-right">DESGLOSE DE GASTOS</h5>
    </div>
    <div class="col-2">
        <div class="form-outline float-lg-right">
            <input class="form-control" id="totalGastos" readonly />
            <label class="form-label" for="totalGastos">TOTAL</label>
        </div>
    </div>
</div>
<!--Datos-->
<div class="row mt-3">
    <form>
        <div class="col-5">
            <select class="form-select" id="gastosSelect" aria-label="Default select example">
            </select>
        </div>
        <div class="col-3">
            <div class="form-outline">
                <input type="number" class="form-control" id="cantidad" />
                <label class="form-label" for="cantidad">CANTIDAD</label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-outline">
                <input type="number" class="form-control" id="precioGasto"  />
                <label class="form-label" for="precioGasto">PRECIO</label>
            </div>
        </div>
        <div class="col-1">
            <a class="btn coloAction" onclick=""><i class="fas fa-plus"></i></a>
        </div>
    </form>
    
</div>


