@model SPCAPP.TicketWeb.Models.TicketSpc
<!--PASSWORD-->
<div class="row">
    <div class="form-group">
        <textarea class="form-control" id="passwordDesc" rows="7"></textarea>
        <label for="passwordDesc">CONTRASEÑAS Y USUARIOS USADOS</label>
    </div>
</div>